body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.navOption {
    padding: 10px;
    flex-grow: 1;
  }

#homePage {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.albumCovers {
  width: 300px;
  height: 300px;
}

#loginPage {
  width: 100vw;
  height: 100vh;
  background-color: #6CC6EC;
  border-style: dashed;
}


#loginForm {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-style: dotted;
  padding: 50px;
  background-color: blueviolet;
}

.loginCred {
  border-style: solid;
}

#loginID, #loginPass {
}